
  .green{
    background-color:#00FF00;
    height:33%;
    width:33.5%;
    display:inline-block;
  }
  .red{
    background-color:#FF0000;
    height:33%;
    width:33.5%;
    display:inline-block;
  }
  .blue{
    background-color:#0000FF;
    height: 33%;
    width: 33.5%;
    display:inline-block;
  }

  .position11{
    position:absolute;
    left:0;
    top:0;
  }
  .position12{
    position:absolute;
    left:33.5%;
    top:0;
  }
  .position13{
    position:absolute;
    left:67%;
    top:0;
  }
  .position21{
    position:absolute;
    left:0;
    top:33%;
  }
  .position22{
    position:absolute;
    left:33.5%;
    top:33%;
  }
  .position23{
    position:absolute;
    left:67%;
    top:33%;
  }
  .position31{
    position:absolute;
    left:0;
    top:66%;
  }
  .position32{
    position:absolute;
    left:33.5%;
    top:66%;
  }
  .position33{
    position:absolute;
    left:67%;
    top:66%;
  }

  .papa1{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:0;
    left:0;
  }
  .papa2{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:0;
    left:33.5%;
  }
  .papa3{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:0;
    left:67%;
  }

  .papa4{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:33%;
    left:0;
  }
  .papa5{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:33%;
    left:33.5%;
  }
  .papa6{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:33%;
    left:67%;
  }

  .papa7{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:66%;
    left:0;
  }
  .papa8{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:66%;
    left:33.5%;
  }
  .papa9{
    position:absolute;
    width:33.5%;
    height:33.5%;
    top:66%;
    left:67%;
  }







  .rflicker{
    animation-name:redflicker;
    animation-duration:5s;
    animation-delay:2s;
    animation-iteration-count: infinite;
  }
  @keyframes redflicker {
    0% {background-color:black;}
    10% {background-color:#2F0000;}
    11% {background-color:grey;}
    16% {background-color:#7F0000;}
    17% {background-color:grey;}
    18% {background-color:#AF0000;}
    19% {background-color:black;}
    35% {background-color:#AF0000;}
    45% {background-color:black;}
    75% {background-color:#FF0000;}
  }
  .gflicker{
    animation-name:greenflicker;
    animation-duration:5s;
    animation-delay:2s;
    animation-iteration-count: infinite;
  }
  @keyframes greenflicker {
    0% {background-color:black;}
    10% {background-color:#002F00;}
    11% {background-color:grey;}
    16% {background-color:#007F00;}
    17% {background-color:grey;}
    18% {background-color:#00AF00;}
    19% {background-color:black;}
    35% {background-color:#00AF00;}
    45% {background-color:black;}
    75% {background-color:#00FF00;}
  }
  .bflicker{
    animation-name:blueflicker;
    animation-duration:5s;
    animation-delay:2s;
    animation-iteration-count: infinite;
  }
  @keyframes blueflicker {
    0% {background-color:black;}
    10% {background-color:#00002F;}
    11% {background-color:grey;}
    16% {background-color:#00007F;}
    17% {background-color:grey;}
    18% {background-color:#0000AF;}
    19% {background-color:black;}
    35% {background-color:#0000AF;}
    45% {background-color:black;}
    75% {background-color:#0000FF;}
  }
